.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 320px;
  padding: 16px;
  border: 1px solid #c23030;
  border-radius: 8px;
  margin-bottom: 10px;
}

.container  label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 6px;
}

.container  input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.2s;
}

.container  input:focus {
  border-color: #4a90e2;
  outline: none;
}

.container  span {
  color: red;
  font-size: 0.85rem;
}

.container  button {
  align-self: flex-start;
  padding: 8px 16px;
  background-color: #ccc;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}
